body {
  font-family: "Raleway";
}
a {
  text-decoration: none;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.content-inner {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
/*タブレット*/
@media screen and (max-width: 1199px) {
  .content-inner {
    width: 97%;
  }
}
/**/
.header-main {
  background-color: #FFF;
  width: 100%;
  position: fixed;
}
.header-inner {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-box-left {
  float: left;
}
.header-box-right {
  float: right;
}
/*スマホだけ*/
@media screen and (max-width: 766px) {
  .header-box-right {
    float: none;
    width:100%;
    background-color: #74cfae;
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    border-top: 1px solid #ddd;
  }
}
/**/
/*ハンバーガーメニュー*/
.ham-menu {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 30px;
  height: 20px;
  display: inline-block;
  float: right;
}
/*スマホ以外は*/
@media screen and (min-width: 766px) {
  .ham-menu {
    display: none;
  }
}
/**/
.menu-line {
  width: 25px;
  border: 2px solid #ddd;
  margin-bottom: 3px;
}
.menu-line:last-child {
  margin-bottom: 0;
}
/**/
.bolt-icon {
  color: #808080;
}
.header-contact {
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
}
.main-title {
  background-color: #f2f2f2;
}
.main-title-inner {
  padding-top: 250px;
  padding-bottom: 250px;
}
/*スマホ*/
@media screen and (max-width: 766px) {
  .main-title-inner {
    padding-top: 160px;
    padding-bottom: 130px;
  }
}
/**/
.h1-text {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}
/*タブレット*/
@media screen and (max-width: 1199px) {
  .h1-text {
    font-size: 80px;
    margin-bottom: 20px;
  }
}
/**/
.title-text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}
.art-main {
  background-color: #74cfae;
}
.art-inner {
  padding-top: 50px;
}
/*タブレット*/
@media screen and (max-width: 1199px) {
  .art-main {
    padding-bottom: 25px;
  }
}
/**/
.art-left {
  float: left;
  padding-left: 100px;
}
/*タブレット*/
@media screen and (max-width: 1199px) {
  .art-left {
    float: none;
    padding-left: 0;
    margin-bottom: 20px;
  }
}
/**/
.art-right {
  float: right;
}
/*タブレット*/
@media screen and (max-width: 1199px) {
  .art-right {
    float: none;
  }
}
/**/
.art-text {
  color: #fff;
}
.art-text-top {
  font-size: 24px;
}
.art-text-bottom {
  font-size: 20px;
  margin-top: 35px;
  width: 700px;
  line-height: 150%;
}
/*タブレット*/
@media screen and (max-width: 1199px) {
  .art-text-bottom {
    width: auto;
  }
}
/**/
.section-main {
  background-color: #f2f2f2;
}
.section-content {
  font-size: 0;
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title {
  font-size: 24px;
  margin-bottom: 40px;
}
.section-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
/*タブレット*/
@media screen and (max-width: 1199px) {
  .section-img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 1880px;
  }
}
/**/
.img-hover {
  opacity: 0.7;
  transition: all 0.3s;
  margin-top: 80px;
}
.img-hover:nth-child(-n+3) {
  margin-top: 0;
}
.img-hover:hover {
  transition: all 0.3s;
  opacity: 1.0;
}
.text-and-email {
  font-size: 0;
  margin-top: 90px;
}
/*タブレット*/
@media screen and (max-width: 1199px) {
  .text-and-email {
    margin-top: 80px;
  }
}
/**/
.section-text {
  display: inline-block;
  font-size: 20px;
  margin-right: 90px;
  color: #333;
  width: 620px;
}
/*タブレット*/
@media screen and (max-width: 1199px) {
  .section-text {
    margin-right: 0;
    width: auto;
    margin-bottom: 40px;
  }
}
/**/
.section-email {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s;
}
.section-email:hover {
  transition: all 0.3s;
  color: #333;
}
.figure-box {
  background-color: #4e4e4e;
}
.figure-main {
  padding-top: 70px;
  padding-bottom: 100px;
}
.figure-title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 70px;
}
.figure-img {
  display: inline-block;
}
.fig-img-content {
  float: left;
  margin-left: 180px;
}
/*タブレット*/
@media screen and (max-width: 1199px) {
  .fig-img-content {
    float: none;
    margin-left: 0;
    margin-top: 88px;
  }
  /**/
  .fig-img-content:first-child {
    margin-top: 0;
  }
}
.fig-img-content:first-child {
  margin-left: 0;
}
.img-name {
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
}
.nav-box {
  background-color: #f2f2f2;
}
.nav-main {
  padding-top: 200px;
  padding-bottom: 200px;
}
.nav-hover {
  display: inline-block;
}
/*スマホ*/
@media screen and (max-width: 766px) {
  .nav-main {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/**/
.nav-icon {
  width: 185px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #74cfae;
  transition: all 0.3s;
}
/*スマホ*/
@media screen and (max-width: 766px) {
  .nav-icon {
    width: 97%;
  }
}
/**/
.nav-icon:hover {
  transition: all 0.3s;
  background-color: #fff;
}
.footer-main {
  background-color: #74cfae;
}
.footer-box {
  padding-top: 20px;
  padding-bottom: 25px;
}
.footer-text {
  color: #fff;
  font-size: 12px;
  text-align: right;
}